<img width=1200 height=400    src="./Indian_ancient_tourism_2_cover.png"/>

In [3]:
import pandas as pd
import numpy as np
import requests

In [2]:
df = pd.read_csv('./India-Tourism-Statistics-2021-Table-5.1.2_0.csv')
df.head()

,S. No.,States/UTs *,Domestic -2019,Foreign - 2019,Domestic -2020,Foreign - 2020,Growth rate - DTV 2020/19,Growth rate - FTV 2020/19
0,1,A&N Island,505398.0,16206.0,191207.0,5412.0,-62.17,-66.6
1,2,Andhra Pradesh,237051508.0,280356.0,70828590.0,67591.0,-70.12,-75.89
2,3,Arunachal Pradesh,555639.0,7825.0,42871.0,961.0,-92.28,-87.72
3,4,Assam,5447805.0,26878.0,1266898.0,7285.0,-76.74,-72.9
4,5,Bihar,33990038.0,1093141.0,5638024.0,308080.0,-83.41,-71.82

In [36]:
API_KEY = "579b464db66ec23bdd0000014c17be1d99ef414b64a2fe9c36a2685f"
endpoint = "https://api.data.gov.in/resource/6911b243-d924-404d-a587-7717bd7c7eb9/"


params = {"api-key": API_KEY, format: "csv"}

headers = {
    "accept": "text/csv",
}

In [34]:
response = requests.get("https://api.data.gov.in/resource/6911b243-d924-404d-a587-7717bd7c7eb9?api-key=579b464db66ec23bdd0000014c17be1d99ef414b64a2fe9c36a2685f&format=json")

In [37]:
response = requests.get(endpoint, params=params, headers=headers)
response

In [39]:
response.links

{}